<h1>Products Index</h1>
<%= link_to "New Product", "/products/new" %>

<% @products.each do |product| %>
  <p><b><%= product.name.capitalize %></b> - <%= product.description.capitalize %></p>
  <p>$ <%= product.formatted_price %></p>
<% end %>